<!DOCTYPE html>
<html>
  <head>
    <title>login</title>
    <link rel='stylesheet' href='/stylesheets/screen.css' />
  </head>
  <body>
  <form method="POST" action="/checkUser">
  	 <p>Login   <input type="text" placeholder="example@mail.com" name="user_id">
    <p>password<input type="text" placeholder="******" name="password">
    <br><input type="submit" value="login" name="login">
  </form>
  </body>
</html>